# Default arguments for clang-tidy
# See http://clang.llvm.org/extra/clang-tidy/
# See https://github.com/Kitware/CMake/blob/master/Utilities/.clang-tidy

Checks: '*,-llvm-header-guard,-readability-else-after-return,-cppcoreguidelines-*'
HeaderFilterRegex: 'euler/.*[.]hpp|euler.h'
# Checks: '*,-clang-analyzer-alpha.*,-cppcoreguidelines-*,-google-*,-readability-*'
